<div class="container-fluid">
    <div class="row">
        
        <nav class="navbar navbar-expand-lg fixed-top flex-md-nowrap p-0 shadow navbar-light" style="background-color: #000000;">
            <a routerLink="/signup" class="d-none d-xl-block navbar-brand text-white" style="background-color: #3f3e97; ">Responsive Angular Material SignUp Page</a>
            <a routerLink="/signup" class="d-sm-none navbar-brand text-white" style="background-color: #3f3e97; margin-left:20px; ">Mobile Responsive</a>
            <div class="d-lg-none">
                <mat-icon color="primary">mobile_friendly</mat-icon>
            </div>
            <button class=" pad navbar-toggler" style="font-size: 42px;" data-toggle="collapse" data-target="#navbarMenu" style="background-color: rgb(199, 250, 252);">
                MENU
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav navbar-nav px-3">
                    <li class="navbar-item">
                        <a routerLink="/signup" data-toggle="collapse" data-target=".navbar-collapse.show" class=" nav-link text-white" style="font-size: 18px; text-align:center;">Home <i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="navbar-item navbar-nav px-3">
                        <a routerLink="/signup" data-toggle="collapse" data-target=".navbar-collapse.show" class=" b nav-link text-white" style="font-size: 18px;">About us <i class="fa fa-question" aria-hidden="true"></i></a>
                    </li>
                    <li class="navbar-item navbar-nav px-3">
                        <a routerLink="/signup" data-toggle="collapse" data-target=".navbar-collapse.show" class=" b nav-link text-white" style="font-size: 18px;">Products <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </li>
                    <li class="navbar-item navbar-nav px-3">
                        <a routerLink="/signup" data-toggle="collapse" data-target=".navbar-collapse.show" class=" b nav-link text-white" style="font-size: 18px;">Services <i class="fa fa-fire" aria-hidden="true"></i></a>
                    </li>
                    <li class="navbar-item navbar-nav px-3">
                        <a routerLink="/signup" data-toggle="collapse" data-target=".navbar-collapse.show" class=" b nav-link text-white" style="font-size: 18px;">Contact us <i class="fa fa-phone" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div></div>